@model MooshakPP.Models.ViewModels.CreateMilestoneViewModel
@{
    ViewBag.Title = "AddMilestones";
}

<div class="row">
        @Html.ActionLink("Back", "Create", "Teacher", null, new { @class = "btn btn-primary backbutton" })
</div>

    <div class="row">
        <div class="col-md-6">
            <h2>@Model.currentAssignment.title</h2>
        </div>
        <div class="col-md-6">
            <h2>Milestones in @Model.currentAssignment.title</h2>
        </div>
    </div>

    @using (Html.BeginForm("AddMilestones", "Teacher", new { assignmentid = Model.currentAssignment.ID },FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

            
        <div class="col-md-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.currentMilestone.name, new { @class = "form-control", placeholder = "Enter name for part" })
            </div>

            <div class="form-group">
                @Html.TextAreaFor(m => m.currentMilestone.description, new { @class = "form-control descriptionbox", placeholder = "Enter description for part" , rows="9"})
            </div>

            <div class="form-group">
                <!--<label for="fileupload">Input.zip</label>
                <input id="fileupload" type="file" />-->
                <label for="fileupload">TestCases.zip</label>
                @Html.TextBoxFor(m => m.testCaseZip, new { type = "file" })
            </div>

            <button type="submit" class="btn btn-default" value="Done">Done</button>
        </div>
    }
 

<div class="col-md-6">

    @if (Model.currentMilestone != null)
    {
        using (Html.BeginForm("AddMilestones", "Teacher", new { assignID = Model.currentAssignment.ID, milestoneID = (int?)Model.currentMilestone.ID }, FormMethod.Post, new { @class = "interactiveList" }))
        {
            <div class="courselist">
                <table>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var m in Model.milestones)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@m.name , "AddMilestones", "Teacher", new { assignmentid = @m.assignmentID, milestoneid = @m.ID }, null)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        </div>
    }
    }
</div>

