@model MooshakPP.Models.ViewModels.CreateAssignmentViewModel
@{
    ViewBag.Title = "Create";
}

<div class="collapse collapseExample">
    <div class="well">

        @foreach (var course in Model.courses)
        {
            {
                @Html.ActionLink(@course.name, "Create", "Teacher", new { courseid = course.ID }, new { @class="btn btn-default"})
            }
        }
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>@Model.currentCourse.name</h2>
    </div>

    <div class="col-md-6">
        @Html.ActionLink("Back", "Index", "Teacher", new { courseid = Model.currentCourse.ID }, new { @class = "btn btn-primary backbutton" })
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Create assignment</h3>
        <div class="col-md-6">
            @using (Html.BeginForm("Create", "Teacher", new { courseID = Model.currentCourse.ID, assignmentID = Model.currentAssignment.ID },FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.TextBoxFor(m => m.newAssignment.title, new { @class = "form-control", @placeholder = "Enter assignment name" })
                    <!--@Html.TextBoxFor(d => d.due, new { @class = "form-control datepicker", @placeholder = "Enter due date" })-->
                    <input class="form-control datepicker" data-val="true" id="due" name="due" placeholder="Enter due date" type="text" value="" >
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Create assignment" />
                </div>
            }
        </div>
    </div>

    <div class="col-md-6">
        <h3>Existing assignments</h3>
        @using (Html.BeginForm("Create", "Teacher", new { courseID = Model.currentCourse.ID, assignmentID = Model.currentAssignment.ID },FormMethod.Post, new { @class = "interactiveList" }))
        {
            <div class="courselist">
                <table>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var assign in Model.assignments)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@assign.title, "Create", "Teacher", new { courseid = @assign.courseID, assignmentid = @assign.ID}, null)</td >
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <hr />
            @Html.ActionLink("Manage Milestones", "AddMilestones", "Teacher", new { assignmentid = Model.currentAssignment.ID }, new { @class = "btn btn-default" })
            <button name="action" value="delete" class="btn btn-danger ">Delete selected assignment</button>
        }
    </div>
</div>
<!--THIS LINE IS TEMPORARY SCRIPT SECTION-->
@section scripts
{
 
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}