@model MooshakPP.Models.ViewModels.RecoverAssignmentsViewModel
@{
    ViewBag.Title = "RecoverAssignments";
}


<div class="collapse collapseExample">
    <div class="well">

        @foreach (var course in Model.courses)
        {
            {
                @Html.ActionLink(@course.name, "RecoverAssignments", "Teacher", new { courseid = course.ID, assignmentid = Model.currentSelected.ID }, new { @class = "btn btn-default" })
            }
        }
    </div>
</div>

<div class="col-md-6">
    <h2>Recover lost assignments</h2>
    <h5>Click to view milestones</h5>
    <hr />
    @using (Html.BeginForm("Create", "Teacher", new { courseid = Model.currentCourse.ID, assignmentid = Model.currentSelected.ID }, FormMethod.Post, new { @id = "coursetableform" }))
    {
        <div class="courselist">
            <table>
                <tbody>
                    @foreach (var assignment in Model.deletedAssignments)
                    {
                        <tr>
                            <td>@Html.ActionLink(@assignment.title, "RecoverAssignments", "Teacher", new { courseid = Model.currentCourse.ID, assignmentid = @assignment.ID}, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <button name="action" value="recover" class="btn btn-primary">Add selected assignment to @Model.currentCourse.name</button>

        
    }
</div>