@model MooshakPP.Models.ViewModels.AddConnectionsViewModel
@{
    ViewBag.Title = "Connect users";
}


<div class="collapse collapseExample">
    <div class="well">
        @if (Model.courses != null)
        {
            foreach (var course in Model.courses)
            {
                @Html.ActionLink(@course.name, "ConnectUser", new { courseid = course.ID }, new { @class = "btn btn-default" })
            }
        }
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-3">
             <h2>@Model.currentCourse.name</h2>
        </div>
    </div>
    @Html.ActionLink("Back to Homepage", "Index", "Admin", null, new { @class = "btn btn-primary backbutton" })
</div><br />

<div class="row">
    <div class="col-md-offset-2 col-md-3">
        @using (Html.BeginForm("ConnectUser", "Admin", new { courseid = Model.currentCourse.ID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="userlist">
                        <h3 class="connect-bold">Connected users</h3>
                        <hr class="connect-line" />
                        <h4 class="connect-bold">Teachers:</h4>
                        <hr class="connect-line" />
                        <table>
                            <tbody class="connect-teachers">
                                @foreach (var item in Model.connectedTeachers)
                                {
                                    if (item != null)
                                    {
                                        <tr class="tr-on-hover checkbox">
                                            <td><input type="checkbox" name=users id="@item.Id" value="@item.Id" /><label for="@item.Id">@item.Email</label></td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <hr class="connect-line" />
                        <h4 class="connect-bold">Students:</h4>
                        <hr class="connect-line" />
                <table>
                            <tbody class="connect-students">
                        @foreach (var item in Model.connectedStudents)
                        {
                            if (item != null)
                            {
                                        <tr class="tr-on-hover checkbox">
                                    <td><input type="checkbox" name=users id="@item.Id" value="@item.Id" /><label for="@item.Id">@item.Email</label></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
            <hr />
            if (Model.currentCourse.ID != 0)
            {
                <button name="action" value="remove" class="btn btn-danger" data-confirm="Are you sure you want to remove selected users?">Remove selected users</button>
            }
        }
    </div>
    <div class="col-md-offset-2 col-md-3">
        @using (Html.BeginForm("ConnectUser", "Admin", new { courseid = Model.currentCourse.ID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="userlist">
                        <h3 class="connect-bold">All users</h3>
                        <hr class="connect-line" />
                        <h4 class="connect-bold">Teachers: </h4>
                        <hr class="connect-line" />
                        <table>
                            <tbody class="connect-teachers">
                                @foreach (var item in Model.notConnectedTeachers)
                                {
                                    if (item != null)
                                    {
                                        <tr class="tr-on-hover checkbox">
                                            <td><input type="checkbox" name=users id="n @item.Id" value="@item.Id" /><label for="n @item.Id">@item.Email</label> </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                        <hr class="connect-line" />
                        <h4 class="connect-bold">Students:</h4>
                        <hr class="connect-line" />
                <table>
                            <tbody class="connect-students">
                            @foreach (var item in Model.notConnectedStudents)
                            {
                                if (item != null)
                                {
                                    <tr class="tr-on-hover checkbox">
                                        <td><input type="checkbox" name=users id="n @item.Id" value="@item.Id" /><label for="n @item.Id">@item.Email</label> </td>
                                    </tr>

                                }
                           }
                    </tbody>
                </table>
            </div>
            <hr />
            if (Model.currentCourse.ID != 0)
            {
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
                <button name="action" value="add" class="btn btn-default add">Add users to @Model.currentCourse.name</button>
            }
        }
    </div>
</div><br />

<div class="row">
    <div class="col-md-offset-2 col-md-3">
    </div>
    <div class="col-md-offset-1 col-md-3">
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/ErrorWarning.js"></script>
}