@model MooshakPP.Models.ViewModels.AddConnectionsViewModel
@{
    ViewBag.Title = "Connect users";
}

@using (Html.BeginForm("ConnectUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach(var course in Model.courses)
                    {
                        <li>@Html.ActionLink(@course.name, "ConnectUser", "Admin", new { id = course.ID }, null)</li>
                    }
                </ul>
            </div>
        </div>
        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-default backbutton" })
    </div><br />
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            @Html.ListBoxFor(x => x.connectedUser, Model.connectedUser.Select(f => new SelectListItem { Text = f.email, Value = f.ID.ToString() }), new { @class = "listbox", size = 20 })
        </div>
        <div class="col-md-4">
            @Html.ListBoxFor(x => x.notConnectedUser, Model.notConnectedUser.Select(f => new SelectListItem { Text = f.email, Value = f.ID.ToString() }), new { @class = "listbox", size = 20 })
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-7">
            <input type="submit" class="btn btn-default" id="connectSubmit" value="Connect" />
        </div>
    </div>
}