@model MooshakPP.Models.ViewModels.CreateCourseViewModel
@{
    ViewBag.Title = "CreateCourse";
}

<h3>Create a course</h3>

<div class="col-md-6">
    @using (Html.BeginForm("CreateCourse", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="form-group">
                @Html.TextBoxFor(m => m.newCourse.name, new { @class = "form-control", placeholder = "Enter course name" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Create course" />
            </div>
        </div>
    }
</div>
<div class="courselist">
    <h5>Existing courses</h5>
    <table>
        <tbody>
            @foreach(var course in Model.courses)
            {
                <tr>
                    <td>@Html.ActionLink(@course.name, "createCourse", "admin", new { id = @course.ID }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Connect users", "ConnectUser", "admin", new { id = @ViewBag.selectedCourse }, null)