@model MooshakPP.Models.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "CreateUser";
}

<div class="row">
    @Html.ActionLink("Back to Homepage", "Index", "Admin", null, new { @class = "btn btn-primary backbutton" })
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6">
        <h3>Create User</h3>
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Email:</td>
                    <td id="teachercheckheader">Is a teacher:</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.newUsers.Count; i++)
                {
                    @Html.ValidationMessageFor(m => m.newUsers[i].Email, "", new { @class = "text-danger" })
                    <tr>
                        <td>@Html.LabelFor(x => x.newUsers[i].Email, (i+1) + ":", new { @class = "control-label" })</td>
                        <td>@Html.TextBoxFor(x => x.newUsers[i].Email, new { @class = "form-control", @placeholder = "example@example.com"})</td>
                        <td class="teachercheck">@Html.CheckBoxFor(x => x.isTeacher[i])</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <br /><input type="submit" class="btn btn-default" value="Create users" />
        </div>
    </div>
}

<div class="col-md-6">
    <h3>All users</h3>
    <h5>Click a user to select</h5>
    @if (Model.currentUser != null)
    {
        using (Html.BeginForm("CreateUser", "Admin", new { userid = Model.currentUser.Id }, FormMethod.Post, new { @id = "coursetableform" }))
        {
            <div class="courselist">
                <table>
                    <tbody>
                        @Html.ValidationSummary()

                        @foreach (var user in Model.allUsers)
                        {
                            <tr>
                                @if (user.Id == Model.currentUser.Id)
                                {
                                    <td>@Html.ActionLink(@user.UserName, "CreateUser", "Admin", new { userid = @user.Id }, new { @class="selected"})</td>
                                }
                                else
                                {
                                    <td>@Html.ActionLink(@user.UserName, "CreateUser", "Admin", new { userid = @user.Id }, null)</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <button name="action" value="delete" class="btn btn-danger col-md-offset-6"data-confirm="Are you sure you want delete this user?">Delete selected user</button>
        }
    }
</div>
        



@section scripts
{
    <script src="~/Scripts/ErrorWarning.js"></script>
}