@model MooshakPP.Models.ViewModels.CreateAdminViewModel
@{
    ViewBag.Title = "CreateAdmin";
}

<div class="row">
    @Html.ActionLink("Back", "Index", "Admin", null, new { @class = "btn btn-primary backbutton" })
</div>

@using (Html.BeginForm("CreateAdmin", "Admin", new { adminid = Model.currentlySelected.Id},FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6">
        <h3>Create User</h3>
        <div class="form-group">
            @Html.TextBoxFor(x => x.newAdmin.Email, new { @class="form-control", placeholder="Enter email for admin"})
        </div>
        <div class="form-group">
            <br /><input type="submit" class="btn btn-default" value="Create users" />
        </div>
    </div>
}

<div class="col-md-6">
    <h3>All users</h3>
    <h5>Click a user to select</h5>
    @if (Model.currentlySelected != null)
    {
        using (Html.BeginForm("CreateUser", "Admin", new { userid = Model.currentlySelected.Id }, FormMethod.Post, new { @id = "coursetableform" }))
        {
            <div class="courselist">
                <table>
                    <tbody>
                        @Html.ValidationSummary()

                        @foreach (var user in Model.allAdmins)
                        {
                            <tr>
                                @if (user.Id == Model.currentlySelected.Id)
                                {
                                    <td>@Html.ActionLink(@user.UserName, "CreateAdmin", "Admin", new { adminid = @user.Id }, new { @class = "selected" })</td>
                                }
                                else
                                {
                                    <td>@Html.ActionLink(@user.UserName, "CreateAdmin", "Admin", new { adminid = @user.Id }, null)</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <button name="action" value="delete" class="btn btn-danger col-md-offset-6" data-confirm="Are you sure you want to delete this admin?">Delete selected admin</button>
        }
    }
</div>

@section scripts
{
    <script src="~/Scripts/ErrorWarning.js"></script>
}