@model MooshakPP.Models.ViewModels.ManageCourseViewModel
@{
    ViewBag.Title = "Manage Course";
}

<div class="row">
    @Html.ActionLink("Back", "Index", "Admin", null, new { @class = "btn btn-primary backbutton" })
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Create a course</h3>
        <div class="col-md-6">
        @using (Html.BeginForm("ManageCourse", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.TextBoxFor(m => m.newCourse.name, new { @class = "form-control", placeholder = "Enter course name" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Create course" />
            </div>
        }
        </div>
    </div>

    <div class="col-md-6">
        <h3>Select existing courses</h3>
        
        @using (Html.BeginForm("ManageCourse", "Admin", FormMethod.Post, new { @id = "coursetableform" }))
        {
            <div class="courselist">
                <table>
                    <tbody>
                        @foreach (var course in Model.courses)
                        {
                            <tr>
                                @if (course.ID == @ViewBag.selectedCourse)
                                {
                                    <td>@Html.ActionLink(@course.name, "ManageCourse", "Admin", new { ID = @course.ID }, new { @class = "selected" })</td>
                                }
                                else
                                {
                                    <td>@Html.ActionLink(@course.name, "ManageCourse", "Admin", new { ID = @course.ID }, null)</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        <hr />
        @Html.ActionLink("Connect users", "ConnectUser", "Admin", new { id = @ViewBag.selectedCourse }, new { @class = "btn btn-default" })
        <button name="action" value="delete" class="btn btn-danger col-md-offset-5">Delete selected course</button>
        }
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-offset-6">
        <p>ajax test:</p>
        @Ajax.ActionLink("Delete course", "DeleteCourse", new AjaxOptions { UpdateTargetId = "managecoursetable", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })
    </div>
</div>
