@model MooshakPP.Models.ViewModels.SubmissionViewModel

@if (Model.currentMilestone != null)
{
    string role;
    if (User.IsInRole("teacher"))
    {
        role = "teacher";
    }
    else
    {
        role = "student";
    }
    using (Html.BeginForm("Index", role, new { milestoneID = Model.currentMilestone.ID }, FormMethod.Post, new { @class = "interactiveList" }))
    {
        <table class="table-striped table-hover submission-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Team</th>
                    <th>Problem</th>
                    <th>Language</th>
                    <th>Result</th>
                    <th>View Details</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.submissions.Count != 0)
                {
                    int i = 0;
                    foreach (var m in Model.submissions)
                    {
                        <tr>
                            <td>@m.ID</td>

                            @if (User.IsInRole("student"))
                            {
                                if (Model.submittedUser[i].Email == User.Identity.Name)
                                {
                                    <td>@User.Identity.Name</td>
                                }
                                else
                                {
                                    <td>???</td>
                                }
                            }
                            else
                            {
                                <td>@Model.submittedUser[i].Email</td>
                            }


                            <td>@Model.currentMilestone.name</td>
                            <td>C++</td>
                            @if ((int)m.status == 5)
                            {
                                <td class="accepted">@m.status</td>
                            }
                            else
                            {
                                <td class="wrongAnswer">@m.status</td>
                            }
                            @if ((int)m.status == 4 && Model.submittedUser[i].Email == User.Identity.Name)
                            {
                                <td>@Html.ActionLink("Details", "ViewDetails", "Student", new { submissionid = m.ID }, null)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
        if (Model.currentMilestone.ID == 0)
        {
            <p>No milestone selected</p>
        }
    }
}
