@model MooshakPP.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Index";
}
<!--not ready just a setup-->

<div class="collapse collapseExample">
    <div class="well">
        
        @foreach (var course in Model.courses)
        {
            if (User.IsInRole("student"))
            {
                @Html.ActionLink(@course.name, "Index", "Student", new { courseid = course.ID  }, new { @class="btn btn-default"}) 
            }
            else if (User.IsInRole("teacher"))
            {
                @Html.ActionLink(@course.name, "Index", "Teacher", new { courseid = course.ID }, new { @class = "btn btn-default" }) 
            }
        }
    </div>
</div>


<h2>@ViewBag.selectedCourseName</h2>


<div class="col-md-2">
        <a class="btn btn-default dropdown-togglee" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            Forritun<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Plat Lab1</a></li>
            <li><a href="#">Plat Lab2</a></li>
            <li><a href="#">Plat Lab3</a></li>
            <li><a href="#">Plat Assignment1</a></li>
        </ul>
</div>

<div class="col-md-6">
    @using (Html.BeginForm("Submit", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <input id="fileupload" type="file" />
        <input type="submit" value="submit" id="submit" class="btn btn-default" />
    }
</div>


@if (User.IsInRole("teacher"))
{
    @Html.ActionLink("Manage assignment", "Create", "Teacher", null, new { @class = "btn btn-default" })
}

<div class="col-md-6">
        <div class="userlist">
            <table>
                <tbody>
                    <tr>
                    <td><label>Palindromde</label></td>
                    </tr>
                    <tr>
                    <td><label>BankAccount</label></td>
                    </tr>
                    <tr>
                    <td><label>TikTakToe</label></td>
                    </tr>
                </tbody>
            </table>
        </div>


<div class="col-lg-10">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">MySubmission</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">AllSubmission</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Description</a></li>
    </ul>
</div>